@model SmartCookbook.Models.Recipe

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="Private" /> @Html.DisplayNameFor(model => model.Private)
				</label>
			</div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label" />
                <div id="newIngredient">
                    <input type="hidden" id="totalIngredients" value="0"/>
                </div>
                <button id="addIngredient" type="button" class="btn btn-info">Add Ingredient</button>
            </div>
            <div class="form-group">
                <label asp-for="Steps" class="control-label" />
                <div id="newStep">
                    <input type="hidden" id="totalSteps" value="0" />
                </div>
                <button id="addStep" type="button" class="btn btn-info">Add Step</button>
            </div>            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#addIngredient").click(function () {
            var rowCount = parseInt($("#totalIngredients").val());
            rowCount++;
            $("#totalIngredients").val(rowCount);
            var html = '';
            html += '<div id="inputRow">';
            html += '<label asp-for"Ingredient.Name" class="control-label"> Ingredient </label>';
            html += '<input type="text" name="Ingredients[' + (rowCount - 1) + '].Ingredient.Name" placeholder="Enter Name" />';
            html += '<div class = details style="display:none">';
            html += '<label asp-for"Ingredient.Calories" class="control-label"> Calories </label>';
            html += '<input type="number" name="Ingredients[' + (rowCount - 1) + '].Ingredient.Calories" value="0" />';
            html += '<label asp-for"Ingredient.Fat" class="control-label"> Fat </label>';
            html += '<input type="number" name="Ingredients[' + (rowCount - 1) + '].Ingredient.Fat" value="0" />';
            html += '<label asp-for"Ingredient.Carbs" class="control-label"> Carbs </label>';
            html += '<input type="number" name="Ingredients[' + (rowCount - 1) + '].Ingredient.Carbs" value="0" />';
            html += '<label asp-for"Ingredient.Protein" class="control-label"> Protein </label>';
            html += '<input type="number" name="Ingredients[' + (rowCount - 1) + '].Ingredient.Protein" value="0" />';
            html += '</div>';
            html += '<button id="showDetails" type="button" class="btn btn-info">Show Details</button>';

            html += '<label asp-for"IngredientInstance.Quantity" class="control-label"> Quantity </label>';
            html += '<input type="number" name="Ingredients[' + (rowCount - 1) + '].Quantity" placeholder="Enter Amount" />';
            html += '<label asp-for"IngredientInstance.Unit" class="control-label"> Unit </label>';
            html += '<input type="text" name="Ingredients[' + (rowCount - 1) + '].Unit" placeholder="Enter Unit" />';

            html += '<button id="removeIngredient" type="button" class="btn btn-danger">Remove</button>';
            html += '</div>';
            $('#newIngredient').append(html);
        });

        $("#addStep").click(function () {
            var rowCount = parseInt($("#totalSteps").val());
            rowCount++;
            $("#totalSteps").val(rowCount);
            var html = '';
            html += '<div id="inputRow">';

            html += '<label asp-for"CookingStep.Description" class="control-label"> Step ' + (rowCount) + '</label>';
            html += '<input type="text" name="Steps[' + (rowCount - 1) + '].Description" placeholder="Enter Step" />';

            html += '<label asp-for"CookingStep.Duration" class="control-label"> Duration </label>';
            html += '<input type="number" name="Steps[' + (rowCount - 1) + '].Duration" placeholder="Enter Time" />';

            html += '<label asp-for"CookingStep.Unit" class="control-label"> Unit </label>';
            html += '<input type="text" name="Steps[' + (rowCount - 1) + '].Unit" placeholder="Enter Unit" />';

            html += '<button id="removeStep" type="button" class="btn btn-danger">Remove</button>';
            html += '</div>';

            $('#newStep').append(html);
        });

        $(document).on('click', '#showDetails', function () {
            $(this).closest('#inputRow').find('.details').slideToggle();
        });

        $(document).on('click', '#removeIngredient', function () {
            var rowCount = parseInt($("#totalIngredients").val());
            rowCount--;
            $("#totalIngredients").val(rowCount);
            $(this).closest('#inputRow').remove();
        });

        $(document).on('click', '#removeStep', function () {
            var rowCount = parseInt($("#totalSteps").val());
            rowCount--;
            $("#totalSteps").val(rowCount);
            $(this).closest('#inputRow').remove();
        });
    </script>
}
